/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1400px;
  position: relative;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
  padding: 0 7.5px;
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[class*=spanError], input, textarea, .articles__article-card__bottom__date-title__title, button, h4, h3, h2, h1, p, a {
  color: #575757;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

h1 {
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  color: #ACDBE2;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
  color: #EB8D13;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: #CA154F;
}

h4 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  color: #2A2A2A;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 22px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 60px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
  }
}
.btn {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 80px;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 16px;
  color: #FFF;
  background-color: #EB8D13;
  margin: 40px auto;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btn:hover {
  box-shadow: 0px 2px 7px rgba(235, 141, 19, 0.25);
  background: #F9F9F9;
  border: 2px solid #EB8D13;
  color: #EB8D13;
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 15px 35px;
    font-size: 21px;
  }
}
section {
  margin: 0 auto 0 auto !important;
  display: flex;
  flex-direction: column;
}
section > div {
  display: grid;
  margin-top: 25%;
}
@media only screen and (min-width: 768px) {
  section > div {
    margin-top: 20%;
  }
}

body {
  background-color: #F9F9F9;
}

.lancement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  text-align: center;
}
.lancement div {
  display: flex;
  justify-content: center;
}
.lancement div a {
  font-size: 4rem;
  margin: 2%;
  color: #ACDBE2;
}
.lancement p {
  margin-bottom: 2%;
}
.lancement video {
  height: 50%;
}

header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.25s ease-out;
}
header #rond {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header #rond p {
  color: #DCDCDC;
  font-size: 13px;
  margin-top: 18px;
}
header #rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 24px;
  position: absolute;
  top: 0;
}
header #rectangle > a {
  display: inline-block;
  width: 32px;
  height: 32px;
  z-index: 2;
}
header #rectangle > a:nth-child(1) {
  background: url(../asset/img/logo/Caspule-LOGO-S.png) no-repeat center;
}
header #rectangle span {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #rectangle span a {
  background: #CA154F;
  display: block;
  height: 5.45px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 24px;
  border-radius: 10px;
  cursor: initial;
}
header #rectangle span a:before, header #rectangle span a:after {
  background: #CA154F;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 10px;
}
header #rectangle span a:before {
  top: 8px;
}
header #rectangle span a:after {
  top: -8px;
}
header nav {
  visibility: hidden;
  background: #CA154F;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80px;
  z-index: 1;
}
header nav > div {
  flex-direction: inherit !important;
}
header nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
header nav ul li {
  width: 100%;
  margin-bottom: 32px;
}
header nav a {
  font-weight: 600;
  line-height: 28px;
  font-size: 18px;
  color: #F9F9F9;
  width: 100%;
}
header nav p {
  color: #F9F9F9;
  font-weight: bold;
  font-size: 23px;
  margin: 24px 0;
}

.wrap {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.petiteDiv {
  display: block;
  position: relative;
  width: 320px;
  height: 320px;
  background: #fff;
  border-radius: 250%;
  top: -160px;
  left: calc(50% - 160px);
  box-shadow: 0px 4px 8px rgba(204, 204, 204, 0.3);
  transition: all 0.1s ease-out;
}

.petiteDiv.opened {
  width: 100%;
  height: 80px;
  border-radius: 2px;
  left: 100%;
  top: 0;
  transform: translateX(-100%) translate3d(0, 0, 0);
}

.hide {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .petiteDiv.petiteDiv.opened {
    height: 90px;
  }

  header {
    height: 90px;
    justify-content: flex-end;
  }
  header #rond {
    display: none;
  }
  header #rectangle {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 24px;
  }
  header #rectangle a:nth-child(1) {
    display: inline-block;
    background: url(../asset/img/logo/Caspule-LOGO-S.png) no-repeat center;
    width: 32px;
    height: 32px;
  }
  header #rectangle #menuBurger {
    display: none;
  }
  header nav {
    visibility: visible;
    height: 100%;
    top: 0;
    background: initial;
  }
  header nav ul {
    flex-direction: inherit !important;
    justify-content: space-evenly;
    align-items: center;
  }
  header nav ul li {
    width: initial;
    margin: 0;
  }
  header nav a {
    color: #CA154F;
  }
  header nav p {
    display: none;
  }
}
main {
  position: relative;
}

#accueilPage {
  position: relative;
  flex-direction: initial;
  flex-wrap: wrap;
}

section {
  min-height: 60vh;
  scroll-snap-align: start;
}

#home {
  height: 100vh;
}
#home > div {
  margin-top: 190px;
}

.container {
  display: flex;
  flex-direction: column;
}

#communaute > div > div {
  display: flex;
  align-items: center;
}
#communaute a {
  margin-right: 2%;
  color: #CA154F;
  font-weight: bold;
  font-size: 15px;
}

#suivezNous > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#suivezNous a {
  margin-right: 4%;
}
#suivezNous iframe {
  padding: 3% 0 40px;
}

#scrollEtat {
  position: sticky;
  bottom: 0px;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  width: 100%;
}

.arc {
  background-color: #ACDBE2;
  position: relative;
  width: 320px;
  height: 160px;
  border-radius: 160px 160px 0 0;
  overflow: hidden;
}
.arc a {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.5s ease-out;
}

.fill {
  background-color: #F9F9F9;
  width: 320px;
  height: 160px;
  transform-origin: center bottom;
  transform: rotate(20deg);
}

.demiCerlce {
  background-color: #F9F9F9;
  width: 300px;
  height: 150px;
  position: absolute;
  left: 10px;
  bottom: 0;
  border-radius: 150px 150px 0 0;
  transition: all 0.2s ease-out;
}

#musicotherapeute {
  color: #CA154F;
}

.articles {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.articles h3 {
  color: #CA154F;
  font-weight: bold;
}

/* ARTICLE CARDS */
.articles__article-card {
  height: 400px;
  width: 350px;
  margin-bottom: 40px;
}

/* ARTICLE CARDS - TOP */
.articles__article-card__top {
  background-image: url("../asset/img/BLOC _ img.png");
  background-size: cover;
  height: 60%;
}

/* ARTICLE CARDS - BOTTOM */
.articles__article-card__bottom {
  background: #fff;
  height: 40%;
}

.articles__article-card__bottom__date-title__title {
  margin-top: 6px;
  color: #575757;
}

.enLirePlus {
  color: #CA154F;
}

#capsuleCestQuoi img {
  position: relative;
}
#capsuleCestQuoi i {
  position: absolute;
  color: white;
  font-size: 33px;
}

footer {
  padding: 3% 0 20px;
  color: #fff;
  background-color: #ACDBE2;
}
footer > div {
  align-items: center;
}
footer > div > div {
  display: flex;
  width: 100%;
  justify-content: center;
}
footer > div a {
  margin: 0 2%;
}
footer p, footer a {
  color: #fff;
}
footer #mentionLeg {
  display: inline-block;
  background-color: #ACDBE2;
  color: #fff;
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin: 2% 0;
}

.reseauxSociaux img {
  height: 40px;
  width: 40px;
}

#contactPage form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #CCCCCC;
  border-radius: 2px;
  color: #575757;
  font-size: 16px;
  -webkit-appearance: none;
}

input[name=prenom]:focus, input[name=email]:focus, textarea:focus {
  background: #FFFFFF;
  border: 2px solid #ACDBE2;
}

[class*=inputError] {
  border: 2px solid #CA154F;
  background: rgba(204, 51, 51, 0.05);
}

input[name=email] {
  margin-top: 16px;
}

textarea {
  height: 136px;
  margin-top: 24px;
  resize: none;
}

[class*=spanError] {
  font-weight: 500;
  color: #CA154F;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
}

input[type=submit] {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  line-height: 0px;
}

/*# sourceMappingURL=style.css.map */
